/*
  Base
*/

body {
  font-family: "Lora", Georgia, "Times New Roman", serif;
  font-size: 16px;
  color: #333333;/*#515151;*//*#3A3A3A;/*rgba(0,0,0,.8);/*#666;*/
  line-height: 1.75rem;
}

@media (max-width: 30em) {
  body {
    font-size: 14px;
  }
}

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
/*   font-family: "Quattrocento Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  color: #333;
  font-weight: 300;
  margin-top: 2rem;
}

a {
/*   text-decoration: underline; */
  text-decoration: none;
  /*border-bottom: 1px solid black;*/
/*   color: #333; */
  color: #6059c1;  /*blue*/
/*   -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s; */
/*   display: inline-block;
  position: relative; */
}

a:hover {
/*  color: black; /*#999;*/
/*   border-bottom: 1px dotted black; */
  text-decoration: underline;
  transition: .5s;
}

/* sliding underline effect */
/* a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
a:hover:after {
	height: 3px;
	background: #11e3ff;
} */


img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

ol, ol li {
  padding: 0px;
  margin-left: 1em;
}

ul, ul li {
  padding: 0px;
  margin-left: 1em;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; 
}

.muted {
  color: #8f8f8f; }

/*
  Blockquote
*/

/*blockquote {
  padding: 0rem 1rem;
  margin: .8rem 0;
  color: #999;
  border-left: 0.25rem solid #ccc;
}

blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}*/

blockquote {
  border-left: 0.25rem solid #ccc;
  margin: 1.5em 10px;
  color: #999;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*
  Site container
*/

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
} */

.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}

/* @media (max-width: 1366px) {
  .container {
    width: 45vw;
  }
}


@media (max-width: 48em) {
  .container {
    width: 75vw;
  }
} */

/*
  Columns (from Skeleton)
*/

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 550px */
@media (min-width: 550px) {
/*   .container {
    width: 90%; } */
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
}

.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/*
  Titles on about page
*/

.titles {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.contact {
  font-size: 16px;
}

/*
  Masthead
*/

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
/*   font-family: "Quattrocento Sans", sans-serif; */
/*   font-family: "Raleway", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.masthead a:hover {
  color:black;
  border-bottom: none;
}

.masthead-title a {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;/*25px;*/
  text-decoration: none;
  color: #505050;
}

.masthead-subtitle {
  color: #999;
}

@media (max-width: 30rem) {
  .masthead-title small {
    display: none;
  }
}

/*
  Post
*/

.post-container {
  margin-bottom: 4rem;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Raleway', sans-serif;
  font-size:0.8rem;
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

/*
  Blog listings (added)
*/

ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  list-style: none; }
ul.posts li {
  margin-bottom: 20px; }
ul.posts .post-date {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
  font-size: 14px;
  text-align: right; }


/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: #999;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: #999;
  border-bottom: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
/*   padding-right: 10px; */
}

.social-icons {
  float: right;
}

.social-icons a {
  color: #999;
  border-bottom: none;
  font-size: 1.25rem;
}

@media (max-width: 30em) {
  .social-icons {
    display: none;
  }
	
  .menu-content a {
    font-size: 1rem;
  }
}

/*
  Code
*/

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-family: "Roboto Mono";
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}


/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}


/*
Tufte-style margin notes
*/

.marginnote { 
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 1.96rem;
  font-size: 1.0rem;
  line-height: 1.96;   /* changed to bring line heights into rational pattern */
  vertical-align: baseline;
  position: relative; 
}
